:root {
  --color1: #000000;
  --color2: #14213d;
  --color3: #fca311;
  --color4: #e5e5e5;
  --color5: #ffffff;
  --titre: "Roboto", serif;
}

img {
  max-width: 100%;
}
button {
  cursor: pointer;
  border: none;
}
/* * {
  border: chocolate 1px solid;
} */

html {
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
  & a {
    text-decoration: none;
  }
}

.roboto-<uniquifier > {
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: "wdth" 500;
}

header {
  z-index: 1000;
  position: fixed;
  width: 100%;
  & .container-fs {
    width: 100vw;
    height: calc(100vh - var(--nav-height));
  }
  & .navbar {
    width: 100%;
    background-color: var(--color1);
    overflow: auto;
    margin-bottom: 8px;
  }

  .navbar a {
    float: left;
    width: 20%;
    text-align: center;
    padding: 12px 0;
    transition: all 0.3s ease;
    color: var(--color4);
    font-size: 36px;
  }

  .navbar a:hover {
    background-color: var(--color3);
  }
}

main {
  background-color: var(--color2);
  color: var(--color5);

  & section#Accueil {
    /* padding-top: 61px; */
    min-height: 100vh;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    & #hero {
      display: flex;
      flex-direction: column;
      text-align: center;
      & h1 {
        font-size: 3rem;
        font-family: var(--titre);
      }
      & img {
        border-radius: 8px;
      }
      & h2 {
        font-size: 2.5rem;
        font-family: var(--titre);
      }
    }

    & #bienvenue {
      align-items: center;
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
      & h2 {
        font-size: 2.5rem;
        text-align: center;
      }
      & p {
        text-align: justify;
        min-width: 75%;
        max-width: 91%;
        font-size: 1.5rem;
      }
      & button {
        background-color: var(--color4);
        color: var(--color1);
        padding: 1rem 1rem;
        border-radius: 8px;
        margin-top: 1rem;
        transition: all 0.3s ease;
        margin-left: auto;
        margin-right: auto;
      }
      & button:hover {
        background-color: var(--color3);
        color: var(--color5);
      }
    }

    & a {
      color: var(--color4);
      text-decoration: none;
    }

    & a:hover {
      color: var(--color3);
    }
  }
}

@media screen and (max-width: 1220px) {
  header {
    .navbar a {
      font-size: 2rem;
    }
    & span.text {
      display: none;
    }
  }
}

@media screen and (max-width: 544px) {
  header {
    & .navbar a {
      font-size: 1.5rem;
    }
  }

  main {
    & section#Accueil {
      padding-top: var(--nav-height);
      & #hero {
        & h1 {
          font-size: 2rem;
        }
        & img {
          max-width: 91%;
          margin: auto;
        }
        & h2 {
          font-size: 1.5rem;
        }
      }

      & #bienvenue {
        & h2 {
          font-size: 1.5rem;
        }
        & p {
          font-size: 1rem;
        }
        & button {
          padding: 0.5rem 0.5rem;
          font-size: 1rem;
        }
      }
    }
  }
}
