/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  /* border: 0; */
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Roboto";
  src: url("./../font/Roboto/Roboto.eot");
  src: url("./../font/Roboto/Roboto.eot?#iefix") format("embedded-opentype"), url("./../font/Roboto/Roboto.woff2") format("woff2"), url("./../font/Roboto/Roboto.woff") format("woff"), url("./../font/Roboto/Roboto.ttf") format("truetype"), url("./../font/Roboto/Roboto.svg#Roboto") format("svg");
}
@font-face {
  font-family: "Fira_Sans_Condensed";
  src: url("./../font/Fira_Sans_Condensed/Fira_Sans_Condensed.eot");
  src: url("./../font/Fira_Sans_Condensed/Fira_Sans_Condensed.eot?#iefix") format("embedded-opentype"), url("./../font/Fira_Sans_Condensed/Fira_Sans_Condensed.woff2") format("woff2"), url("./../font/Fira_San_Condensed/Fira_Sans_Condensed.woff") format("woff"), url("./../font/Fira_Sans_Condensed/Fira_Sans_Condensed.ttf") format("truetype"), url("./../font/Fira_Sans_Condensed/Fira_Sans_Condensed.svg#Fira_Sans_Condensed") format("svg");
}
@font-face {
  font-family: "Gudea";
  src: url("./../font/Gudea/Gudea.eot");
  src: url("./../font/Gudea/Gudea.eot?#iefix") format("embedded-opentype"), url("./../font/Gudea/Gudea.woff2") format("woff2"), url("./../font/Gudea/Gudea.woff") format("woff"), url("./../font/Gudea/Gudea.ttf") format("truetype"), url("./../font/Gudea/Gudea.svg#Gudea") format("svg");
}
@font-face {
  font-family: "Gudea_Bold";
  src: url("./../font/Gudea_Bold/Gudea_Bold.eot");
  src: url("./../font/Gudea_Bold/Gudea_Bold.eot?#iefix") format("embedded-opentype"), url("./../font/Gudea_Bold/Gudea_Bold.woff2") format("woff2"), url("./../font/Gudea_Bold/Gudea_Bold.woff") format("woff"), url("./../font/Gudea_Bold/Gudea_Bold.ttf") format("truetype"), url("./../font/Gudea_Bold/Gudea_Bold.svg#Gudea_Bold") format("svg");
}
:root {
  --color1: 0, 0, 0; /* #000000 */
  --color2: 20, 33, 61; /* #14213d */
  --color3: 252, 163, 17; /* #fca311 */
  --color4: 229, 229, 229; /* #e5e5e5 */
  --color5: 255, 255, 255; /* #ffffff */
  --titre: "Roboto";
  --sous-titre: "Fira_Sans_Condensed";
  --texte: "Gudea";
  --button: "Gudea_Bold";
}

img {
  max-width: 100%;
}

button,
a {
  cursor: pointer;
  border: none;
}

html {
  scroll-behavior: smooth;
}

ul a {
  text-decoration: none;
}

body {
  background-color: rgba(var(--color2), 0.9);
}

main {
  background-color: rgba(var(--color2), 1);
  color: rgba(var(--color5), 1);
  max-width: 1920px;
  margin: auto;
}

header {
  z-index: 1000;
  position: fixed;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  left: 0;
  right: 0;
}
header .navbar {
  background-color: rgba(var(--color1), 0.7);
  overflow: auto;
}
header .navbar ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
header .navbar li {
  width: 20%;
}
header .navbar a {
  display: block;
  width: 100%;
  text-align: center;
  padding: 5px 0;
  transition: all 0.3s ease;
  color: rgba(var(--color4), 1);
  font-size: 2.5rem;
}
header .navbar a:hover {
  background-color: rgba(var(--color3), 1);
}
header span.text {
  font-family: var(--sous-titre);
  font-weight: 100;
}

@media screen and (max-width: 1400px) {
  header .navbar li a {
    font-size: 2rem;
  }
}
@media screen and (max-width: 1200px) {
  header .navbar li a {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 992px) {
  header .navbar li a {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 768px) {
  header .navbar ul {
    justify-content: space-around;
  }
  header .navbar ul li {
    width: 20%;
  }
  header .navbar ul li a {
    font-size: 2rem;
  }
  header span.text {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  header .navbar a {
    font-size: 1.8rem;
  }
}
section#Accueil {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}
section#Accueil #hero {
  text-align: center;
}
section#Accueil #hero h1 {
  font-size: 4rem;
  font-family: var(--titre);
}
section#Accueil #hero img {
  border-radius: 8px;
  margin-top: 12px;
  margin-bottom: 12px;
  box-shadow: 0px 4px 10px rgba(var(--color3), 0.5);
}
section#Accueil #hero h2 {
  font-size: 3.2rem;
  font-family: var(--sous-titre);
}
section#Accueil #bienvenue {
  align-items: center;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}
section#Accueil #bienvenue h2 {
  font-size: 3rem;
  text-align: center;
  font-family: var(--sous-titre);
}
section#Accueil #bienvenue .button {
  display: flex;
  gap: 10px;
  margin-top: 1rem;
}
section#Accueil #bienvenue .button button {
  background-color: rgba(var(--color4), 1);
  color: rgba(var(--color1), 1);
  padding: 1.2rem;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  font-size: 1.4rem;
  font-family: var(--button);
}
section#Accueil #bienvenue .button button a {
  color: rgba(var(--color1), 1);
}
section#Accueil #bienvenue .button button:hover {
  background-color: rgba(var(--color3), 1);
  color: rgba(var(--color5), 1);
}
section#Accueil a {
  color: rgba(var(--color4), 1);
  text-decoration: none;
}
section#Accueil a:hover {
  color: rgba(var(--color3), 1);
}

@media screen and (max-width: 1400px) {
  section#Accueil #hero h1 {
    font-size: 3.5rem;
  }
  section#Accueil #hero img {
    max-width: 99%;
    margin: 11px auto;
  }
  section#Accueil #hero h2 {
    font-size: 2.9rem;
  }
  section#Accueil #bienvenue h2 {
    font-size: 2.5rem;
  }
  section#Accueil #bienvenue .button button {
    padding: 1.1rem;
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 1200px) {
  section#Accueil #hero h1 {
    font-size: 3rem;
  }
  section#Accueil #hero img {
    max-width: 97%;
    margin: 10px auto;
  }
  section#Accueil #hero h2 {
    font-size: 2.7rem;
  }
  section#Accueil #bienvenue h2 {
    font-size: 2.2rem;
  }
  section#Accueil #bienvenue .button button {
    padding: 1rem;
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 992px) {
  section#Accueil #hero h1 {
    font-size: 2.7rem;
  }
  section#Accueil #hero img {
    max-width: 95%;
    margin: 10px auto;
  }
  section#Accueil #hero h2 {
    font-size: 2.2rem;
  }
  section#Accueil #bienvenue h2 {
    font-size: 2rem;
  }
  section#Accueil #bienvenue .button button {
    padding: 0.95rem;
    font-size: 1.15rem;
  }
}
@media screen and (max-width: 768px) {
  section#Accueil #hero h1 {
    font-size: 2.4rem;
  }
  section#Accueil #hero img {
    max-width: 93%;
    margin: 8px auto;
  }
  section#Accueil #hero h2 {
    font-size: 1.9rem;
  }
  section#Accueil #bienvenue h2 {
    font-size: 1.8rem;
  }
  section#Accueil #bienvenue .button button {
    padding: 0.85rem;
    font-size: 1.05rem;
  }
}
@media screen and (max-width: 544px) {
  section#Accueil #hero h1 {
    font-size: 2.2rem;
  }
  section#Accueil #hero img {
    max-width: 91%;
    margin: 6px auto;
  }
  section#Accueil #hero h2 {
    font-size: 1.7rem;
  }
  section#Accueil #bienvenue h2 {
    font-size: 1.6rem;
  }
  section#Accueil #bienvenue .button button {
    padding: 0.7rem;
    font-size: 1rem;
  }
}
section#A_propos {
  min-height: 80vh;
}
section#A_propos h2 {
  font-size: 3rem;
  text-align: center;
  font-family: var(--titre);
  padding-top: 1rem;
}
section#A_propos hr {
  width: 20%;
  padding: 1px;
  margin: 1rem auto;
  background-color: rgba(var(--color3, 0.7));
  border: 1px solid rgba(var(--color2, 1));
  border-radius: 15px;
}
section#A_propos #container-A_propos {
  display: flex;
  justify-content: space-around;
  gap: 8px;
}
section#A_propos #container-A_propos #a_propos_left,
section#A_propos #container-A_propos #a_propos_right {
  display: flex;
  flex-direction: column;
  width: 50%;
  max-width: 600px;
  background-color: rgba(var(--color4), 0.4);
  border: 2px solid rgba(var(--color3), 0.8);
  border-radius: 15px;
}
section#A_propos #container-A_propos #a_propos_left {
  justify-content: center;
}
section#A_propos #container-A_propos #a_propos_left img {
  max-width: 50%;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(var(--color3), 0.5);
  margin: 12px auto;
}
section#A_propos #container-A_propos #a_propos_left p {
  max-width: 80%;
  text-align: justify;
  margin: 1rem auto;
  font-size: 1.3rem;
  font-family: var(--texte);
}
section#A_propos #container-A_propos #a_propos_right {
  text-align: justify;
  justify-content: space-evenly;
}
section#A_propos #container-A_propos #a_propos_right h3 {
  font-size: 2rem;
  text-align: center;
  font-family: var(--sous-titre);
  margin-top: 1rem;
}
section#A_propos #container-A_propos #a_propos_right ul li {
  width: 90%;
  font-size: 1.1rem;
  font-family: var(--texte);
  margin-top: 5px;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}
section#A_propos #container-A_propos #a_propos_right ul li:hover {
  transform: translateX(10px);
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
  color: rgba(var(--color2), 1);
}
section#A_propos #container-A_propos #a_propos_right ul#diplomes li {
  position: relative;
  left: 25px;
}
section#A_propos #container-A_propos #a_propos_right ul:not(#diplomes) {
  list-style-type: circle;
}
section#A_propos #container-A_propos #a_propos_right ul:not(#diplomes) li {
  position: relative;
  left: 50px;
}
section#A_propos #container-A_propos #a_propos_right .button {
  display: flex;
  margin-bottom: 1rem;
}
section#A_propos #container-A_propos #a_propos_right .button a {
  margin: 1rem auto 0 auto;
  color: rgba(var(--color1), 1);
}
section#A_propos #container-A_propos #a_propos_right .button a button {
  background-color: rgba(var(--color4), 1);
  color: rgba(var(--color1), 1);
  padding: 1rem 1rem;
  border-radius: 8px;
  font-family: var(--button);
  transition: all 0.3s ease-in-out;
}
section#A_propos #container-A_propos #a_propos_right .button a button:hover {
  background-color: rgba(var(--color3), 1);
  color: rgba(var(--color5), 1);
}

@media screen and (max-width: 1400px) {
  section#A_propos #container-A_propos #a_propos_left,
  section#A_propos #container-A_propos #a_propos_right {
    width: 50%;
    max-width: 550px;
  }
}
@media screen and (max-width: 1200px) {
  section#A_propos h2 {
    font-size: 2.7rem;
  }
  section#A_propos #container-A_propos #a_propos_left,
  section#A_propos #container-A_propos #a_propos_right {
    width: 40%;
    max-width: 500px;
  }
  section#A_propos #container-A_propos #a_propos_left img {
    margin: 12px auto;
  }
  section#A_propos #container-A_propos #a_propos_left p {
    font-size: 1.2rem;
  }
  section#A_propos #container-A_propos #a_propos_right h3 {
    font-size: 1.8rem;
    margin-top: 1rem;
  }
  section#A_propos #container-A_propos #a_propos_right ul li {
    font-size: 1rem;
  }
}
@media screen and (max-width: 992px) {
  section#A_propos h2 {
    font-size: 2.5rem;
  }
  section#A_propos #container-A_propos #a_propos_left,
  section#A_propos #container-A_propos #a_propos_right {
    width: 40%;
    max-width: 450px;
  }
  section#A_propos #container-A_propos #a_propos_left img {
    margin: 8px auto;
  }
  section#A_propos #container-A_propos #a_propos_left p {
    font-size: 1.1rem;
  }
  section#A_propos #container-A_propos #a_propos_right h3 {
    font-size: 1.6rem;
    margin-top: 0.8rem;
  }
  section#A_propos #container-A_propos #a_propos_right ul li {
    font-size: 1rem;
  }
}
@media screen and (max-width: 768px) {
  section#A_propos h2 {
    font-size: 2.3rem;
  }
  section#A_propos #container-A_propos {
    flex-direction: column;
    align-items: center;
  }
  section#A_propos #container-A_propos #a_propos_left,
  section#A_propos #container-A_propos #a_propos_right {
    width: 80%;
    max-width: 450px;
  }
  section#A_propos #container-A_propos #a_propos_left p {
    font-size: 1.1rem;
  }
  section#A_propos #container-A_propos #a_propos_right h3 {
    font-size: 1.6rem;
    margin-top: 0.8rem;
  }
  section#A_propos #container-A_propos #a_propos_right ul li {
    font-size: 1rem;
  }
}
@media screen and (max-width: 544px) {
  section#A_propos h2 {
    font-size: 2rem;
  }
  section#A_propos #container-A_propos #a_propos_left,
  section#A_propos #container-A_propos #a_propos_right {
    max-width: 400px;
  }
  section#A_propos #container-A_propos #a_propos_left p {
    font-size: 1rem;
  }
  section#A_propos #container-A_propos #a_propos_right h3 {
    font-size: 1.3rem;
  }
  section#A_propos #container-A_propos #a_propos_right ul li {
    font-size: 1rem;
  }
}
section#Competences {
  min-height: 80vh;
}
section#Competences h2 {
  font-size: 3rem;
  text-align: center;
  padding-top: 1rem;
  font-family: var(--titre);
}
section#Competences hr {
  width: 20%;
  padding: 1px;
  margin: 1rem auto;
  background-color: rgba(var(--color3, 0.7));
  border: 1px solid rgba(var(--color2, 1));
  border-radius: 15px;
}
section#Competences #competences_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 100%;
}
section#Competences #competences_container .colonne_competences {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section#Competences #competences_container .colonne_competences #competences_langages,
section#Competences #competences_container .colonne_competences #competences_logiciels,
section#Competences #competences_container .colonne_competences #competences_frameworks,
section#Competences #competences_container .colonne_competences #competences_autres {
  width: 80%;
  max-width: 600px;
  margin: 10px auto;
  color: rgba(var(--color5), 1);
  background-color: rgba(var(--color4), 0.4);
  border: 2px solid rgba(var(--color3), 0.8);
  padding: 10px;
  border-radius: 15px;
}
section#Competences #competences_container .colonne_competences #competences_langages h3,
section#Competences #competences_container .colonne_competences #competences_logiciels h3,
section#Competences #competences_container .colonne_competences #competences_frameworks h3,
section#Competences #competences_container .colonne_competences #competences_autres h3 {
  text-align: center;
  font-size: 2rem;
  font-family: var(--sous-titre);
}
section#Competences #competences_container .colonne_competences #competences_langages li,
section#Competences #competences_container .colonne_competences #competences_logiciels li,
section#Competences #competences_container .colonne_competences #competences_frameworks li,
section#Competences #competences_container .colonne_competences #competences_autres li {
  margin: 20px 0;
  list-style-type: none;
}
section#Competences #competences_container .colonne_competences #competences_langages li div.text-left,
section#Competences #competences_container .colonne_competences #competences_logiciels li div.text-left,
section#Competences #competences_container .colonne_competences #competences_frameworks li div.text-left,
section#Competences #competences_container .colonne_competences #competences_autres li div.text-left {
  font-size: 1.5rem;
  font-family: var(--texte);
  text-transform: uppercase;
}
section#Competences #competences_container .colonne_competences #competences_langages li div.text-left span.right,
section#Competences #competences_container .colonne_competences #competences_logiciels li div.text-left span.right,
section#Competences #competences_container .colonne_competences #competences_frameworks li div.text-left span.right,
section#Competences #competences_container .colonne_competences #competences_autres li div.text-left span.right {
  float: right;
}
section#Competences #competences_container .colonne_competences #competences_langages li span.bar,
section#Competences #competences_container .colonne_competences #competences_logiciels li span.bar,
section#Competences #competences_container .colonne_competences #competences_frameworks li span.bar,
section#Competences #competences_container .colonne_competences #competences_autres li span.bar {
  background-color: rgba(var(--color4), 0.3);
  display: block;
  height: 5px;
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(var(--color4), 0.5);
}
section#Competences #competences_container .colonne_competences #competences_langages li span.bar span,
section#Competences #competences_container .colonne_competences #competences_logiciels li span.bar span,
section#Competences #competences_container .colonne_competences #competences_frameworks li span.bar span,
section#Competences #competences_container .colonne_competences #competences_autres li span.bar span {
  height: 5px;
  float: left;
  background-color: rgba(var(--color2), 1);
}
section#Competences #competences_container .colonne_competences div#competences_langages .skill_html {
  width: 75%;
  animation: skill_html 2s;
}
section#Competences #competences_container .colonne_competences div#competences_langages .skill_css {
  width: 65%;
  animation: skill_css 2s;
}
section#Competences #competences_container .colonne_competences div#competences_langages .skill_js {
  width: 40%;
  animation: skill_js 2s;
}
section#Competences #competences_container .colonne_competences div#competences_langages .skill_php {
  width: 25%;
  animation: skill_php 2s;
}
@keyframes skill_html {
  0% {
    width: 0%;
  }
  100% {
    width: 75%;
  }
}
@keyframes skill_css {
  0% {
    width: 0%;
  }
  100% {
    width: 65%;
  }
}
@keyframes skill_js {
  0% {
    width: 0%;
  }
  100% {
    width: 40%;
  }
}
@keyframes skill_php {
  0% {
    width: 0%;
  }
  100% {
    width: 25%;
  }
}
section#Competences #competences_container .colonne_competences #competences_logiciels .logiciel_figma {
  width: 15%;
  animation: logiciel_figma 2s;
}
section#Competences #competences_container .colonne_competences #competences_logiciels .logiciel_photoshop {
  width: 45%;
  animation: logiciel_photoshop 2s;
}
section#Competences #competences_container .colonne_competences #competences_logiciels .logiciel_illustrator {
  width: 20%;
  animation: logiciel_illustrator 2s;
}
section#Competences #competences_container .colonne_competences #competences_logiciels .logiciel_docker {
  width: 25%;
  animation: logiciel_docker 2s;
}
@keyframes logiciel_figma {
  0% {
    width: 0%;
  }
  100% {
    width: 15%;
  }
}
@keyframes logiciel_photoshop {
  0% {
    width: 0%;
  }
  100% {
    width: 45%;
  }
}
@keyframes logiciel_illustrator {
  0% {
    width: 0%;
  }
  100% {
    width: 20%;
  }
}
@keyframes logiciel_docker {
  0% {
    width: 0%;
  }
  100% {
    width: 25%;
  }
}
section#Competences #competences_container .colonne_competences #competences_frameworks .framework_bootstrap {
  width: 5%;
  animation: framework_bootstrap 2s;
}
section#Competences #competences_container .colonne_competences #competences_frameworks .framework_tailwind {
  width: 10%;
  animation: framework_tailwind 2s;
}
section#Competences #competences_container .colonne_competences #competences_frameworks .framework_react {
  width: 2%;
  animation: framework_react 2s;
}
section#Competences #competences_container .colonne_competences #competences_frameworks .framework_symfoni {
  width: 1%;
  animation: framework_symfoni 2s;
}
@keyframes framework_bootstrap {
  0% {
    width: 0%;
  }
  100% {
    width: 5%;
  }
}
@keyframes framework_tailwind {
  0% {
    width: 0%;
  }
  100% {
    width: 10%;
  }
}
@keyframes framework_react {
  0% {
    width: 0%;
  }
  100% {
    width: 2%;
  }
}
@keyframes framework_symfoni {
  0% {
    width: 0%;
  }
  100% {
    width: 1%;
  }
}
section#Competences #competences_container .colonne_competences #competences_autres .autre_anglais {
  width: 45%;
  animation: autre_anglais 2s;
}
section#Competences #competences_container .colonne_competences #competences_autres .autre_github {
  width: 40%;
  animation: autre_github 2s;
}
section#Competences #competences_container .colonne_competences #competences_autres .autre_postman {
  width: 15%;
  animation: autre_postman 2s;
}
section#Competences #competences_container .colonne_competences #competences_autres .autre_visual_studio_code {
  width: 40%;
  animation: autre_visual_studio_code 2s;
}
@keyframes autre_anglais {
  0% {
    width: 0%;
  }
  100% {
    width: 45%;
  }
}
@keyframes autre_github {
  0% {
    width: 0%;
  }
  100% {
    width: 40%;
  }
}
@keyframes autre_postman {
  0% {
    width: 0%;
  }
  100% {
    width: 15%;
  }
}
@keyframes autre_visual_studio_code {
  0% {
    width: 0%;
  }
  100% {
    width: 40%;
  }
}

@media only screen and (max-width: 1400px) {
  section#Competences #competences_container .colonne_competences #competences_langages,
  section#Competences #competences_container .colonne_competences #competences_logiciels,
  section#Competences #competences_container .colonne_competences #competences_frameworks,
  section#Competences #competences_container .colonne_competences #competences_autres {
    max-width: 550px;
  }
}
@media only screen and (max-width: 1200px) {
  section#Competences h2 {
    font-size: 2.7rem;
  }
  section#Competences #competences_container .colonne_competences #competences_langages h3,
  section#Competences #competences_container .colonne_competences #competences_logiciels h3,
  section#Competences #competences_container .colonne_competences #competences_frameworks h3,
  section#Competences #competences_container .colonne_competences #competences_autres h3 {
    font-size: 1.8rem;
  }
  section#Competences #competences_container .colonne_competences #competences_langages li div.text-left,
  section#Competences #competences_container .colonne_competences #competences_logiciels li div.text-left,
  section#Competences #competences_container .colonne_competences #competences_frameworks li div.text-left,
  section#Competences #competences_container .colonne_competences #competences_autres li div.text-left {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 992px) {
  section#Competences h2 {
    font-size: 2.5rem;
  }
  section#Competences #competences_container .colonne_competences #competences_langages h3,
  section#Competences #competences_container .colonne_competences #competences_logiciels h3,
  section#Competences #competences_container .colonne_competences #competences_frameworks h3,
  section#Competences #competences_container .colonne_competences #competences_autres h3 {
    font-size: 1.6rem;
  }
  section#Competences #competences_container .colonne_competences #competences_langages li div.text-left,
  section#Competences #competences_container .colonne_competences #competences_logiciels li div.text-left,
  section#Competences #competences_container .colonne_competences #competences_frameworks li div.text-left,
  section#Competences #competences_container .colonne_competences #competences_autres li div.text-left {
    font-size: 1.1rem;
  }
}
@media only screen and (max-width: 768px) {
  section#Competences h2 {
    font-size: 2.3rem;
  }
  section#Competences #competences_container .colonne_competences {
    width: 100%;
    max-width: 100%;
  }
  section#Competences #competences_container .colonne_competences #competences_langages,
  section#Competences #competences_container .colonne_competences #competences_logiciels,
  section#Competences #competences_container .colonne_competences #competences_frameworks,
  section#Competences #competences_container .colonne_competences #competences_autres {
    max-width: 450px;
  }
  section#Competences #competences_container .colonne_competences #competences_langages h3,
  section#Competences #competences_container .colonne_competences #competences_logiciels h3,
  section#Competences #competences_container .colonne_competences #competences_frameworks h3,
  section#Competences #competences_container .colonne_competences #competences_autres h3 {
    font-size: 1.6rem;
  }
}
@media only screen and (max-width: 544px) {
  section#Competences h2 {
    font-size: 2rem;
  }
  section#Competences #competences_container .colonne_competences #competences_langages,
  section#Competences #competences_container .colonne_competences #competences_logiciels,
  section#Competences #competences_container .colonne_competences #competences_frameworks,
  section#Competences #competences_container .colonne_competences #competences_autres {
    width: 75%;
  }
  section#Competences #competences_container .colonne_competences #competences_langages h3,
  section#Competences #competences_container .colonne_competences #competences_logiciels h3,
  section#Competences #competences_container .colonne_competences #competences_frameworks h3,
  section#Competences #competences_container .colonne_competences #competences_autres h3 {
    font-size: 1.3rem;
  }
  section#Competences #competences_container .colonne_competences #competences_langages li div.text-left,
  section#Competences #competences_container .colonne_competences #competences_logiciels li div.text-left,
  section#Competences #competences_container .colonne_competences #competences_frameworks li div.text-left,
  section#Competences #competences_container .colonne_competences #competences_autres li div.text-left {
    font-size: 1rem;
  }
}
section#Projets {
  min-height: 80vh;
}
section#Projets h2 {
  font-size: 3rem;
  text-align: center;
  font-family: var(--titre);
  padding-top: 1rem;
}
section#Projets hr {
  width: 20%;
  padding: 1px;
  margin: 1rem auto;
  background-color: rgba(var(--color3, 0.7));
  border: 1px solid rgba(var(--color2, 1));
  border-radius: 15px;
}
section#Projets ul.galerie-grid {
  padding: 0;
  -moz-column-count: 2;
       column-count: 2;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
section#Projets ul.galerie-grid li.galerie-item {
  margin-bottom: 10px;
  -moz-column-break-inside: avoid;
       break-inside: avoid;
  transition: opacity 0.5s ease, transform 0.5s ease;
  opacity: 1;
}
section#Projets ul.galerie-grid li.galerie-item img {
  display: block;
  margin: auto;
  width: 80%;
  height: auto;
  max-width: 620px;
  border-radius: 15px;
}
section#Projets ul.galerie-grid li.galerie-item h3.galerie-title {
  text-align: center;
  font-size: 2rem;
  font-family: var(--sous-titre);
  background-color: rgba(var(--color4), 0.4);
  border: 2px solid rgba(var(--color3), 0.8);
  border-radius: 15px;
  width: 25%;
  margin: 1rem auto;
  padding: 0.5rem 1rem;
}
section#Projets ul.galerie-grid li.galerie-item.hidden {
  display: none;
  opacity: 0;
  transform: translateY(20px);
}
section#Projets ul.galerie-grid li.galerie-item.fade-in {
  display: block !important;
  opacity: 1 !important;
  transform: translateY(0) !important;
}
section#Projets button {
  background-color: rgba(var(--color4), 1);
  color: rgba(var(--color1), 1);
  padding: 1rem 1rem;
  border-radius: 8px;
  font-family: var(--button);
  transition: all 0.3s ease-in-out;
  margin: 1rem auto;
  display: flex;
}
section#Projets button:hover {
  background-color: rgba(var(--color3), 1);
  color: rgba(var(--color5), 1);
}

#lightbox {
  display: none;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.747);
}
#lightbox i {
  z-index: 1001;
}

#lightbox-img {
  max-height: 80vh;
  transition: transform 0.3s ease-in-out;
}

#lightbox-img.zoomed {
  cursor: unset;
}

#lightbox .close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  cursor: cell;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: cell;
}

/* Ajustements responsive */
@media (max-width: 768px) {
  #lightbox-img {
    width: 90%;
  }
}
@media only screen and (max-width: 1400px) {
  section#Projets ul.galerie-grid li.galerie-item h3.galerie-title {
    width: 30%;
  }
  section#Projets ul.galerie-grid li.galerie-item img {
    max-width: 570px;
  }
}
@media only screen and (max-width: 1200px) {
  section#Projets h2 {
    font-size: 2.7rem;
  }
  section#Projets ul.galerie-grid {
    -moz-column-gap: 6px;
         column-gap: 6px;
  }
  section#Projets ul.galerie-grid li.galerie-item {
    margin-bottom: 10px;
  }
  section#Projets ul.galerie-grid li.galerie-item h3.galerie-title {
    font-size: 1.8rem;
    width: 35%;
    margin: 1rem auto;
    padding: 0.5rem 1rem;
  }
  section#Projets ul.galerie-grid li.galerie-item img {
    width: 90%;
  }
  section#Projets button {
    background-color: rgba(var(--color4), 1);
    color: rgba(var(--color1), 1);
    padding: 1rem 1rem;
    border-radius: 8px;
    font-family: var(--button);
    transition: all 0.3s ease-in-out;
    margin: 1rem auto;
    display: flex;
  }
}
@media only screen and (max-width: 992px) {
  section#Projets h2 {
    font-size: 2.5rem;
  }
  section#Projets ul.galerie-grid {
    -moz-column-gap: 2px;
         column-gap: 2px;
  }
  section#Projets ul.galerie-grid li.galerie-item h3.galerie-title {
    font-size: 1.6rem;
    width: 40%;
    margin: 0.5rem auto;
  }
  section#Projets button {
    background-color: rgba(var(--color4), 1);
    color: rgba(var(--color1), 1);
    padding: 1rem 1rem;
    border-radius: 8px;
    font-family: var(--button);
    transition: all 0.3s ease-in-out;
    margin: 1rem auto;
    display: flex;
  }
}
@media only screen and (max-width: 768px) {
  section#Projets h2 {
    font-size: 2.3rem;
  }
  section#Projets ul.galerie-grid {
    -moz-column-count: 1;
         column-count: 1;
  }
  section#Projets ul.galerie-grid li.galerie-item h3.galerie-title {
    font-size: 1.6rem;
    width: 40%;
    margin: 0.5rem auto;
  }
  section#Projets ul.galerie-grid li.galerie-item img {
    width: 85%;
    max-width: 470px;
  }
  section#Projets button {
    background-color: rgba(var(--color4), 1);
    color: rgba(var(--color1), 1);
    padding: 1rem 1rem;
    border-radius: 8px;
    font-family: var(--button);
    transition: all 0.3s ease-in-out;
    margin: 1rem auto;
    display: flex;
  }
}
@media only screen and (max-width: 544px) {
  section#Projets h2 {
    font-size: 2rem;
  }
  section#Projets ul.galerie-grid li.galerie-item h3.galerie-title {
    font-size: 1.3rem;
  }
  section#Projets ul.galerie-grid li.galerie-item img {
    width: 85%;
    max-width: 470px;
  }
  section#Projets button {
    background-color: rgba(var(--color4), 1);
    color: rgba(var(--color1), 1);
    padding: 1rem 1rem;
    border-radius: 8px;
    font-family: var(--button);
    transition: all 0.3s ease-in-out;
    margin: 1rem auto;
    display: flex;
  }
}
section#Contact {
  min-height: 80vh;
}
section#Contact h2 {
  font-size: 3rem;
  text-align: center;
  font-family: var(--titre);
  padding-top: 1rem;
}
section#Contact hr {
  width: 20%;
  padding: 1px;
  margin: 1rem auto;
  background-color: rgba(var(--color3, 0.7));
  border: 1px solid rgba(var(--color2, 1));
  border-radius: 15px;
}
section#Contact #contact_container {
  display: flex;
  justify-content: space-around;
  gap: 8px;
}
section#Contact #contact_container div#Formulaire,
section#Contact #contact_container div#Informations {
  display: flex;
  flex-direction: column;
  width: 50%;
  max-width: 600px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
section#Contact #contact_container div#Formulaire {
  background-color: rgba(var(--color4), 0.4);
  border: 2px solid rgba(var(--color3), 0.8);
  border-radius: 15px;
}
section#Contact #contact_container div#Formulaire h3 {
  font-size: 2rem;
  text-align: center;
  font-family: var(--sous-titre);
  margin-top: 1rem;
}
section#Contact #contact_container div#Formulaire #contactForm {
  font-family: var(--texte);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 95%;
  margin: 0 auto;
  padding: 10px 5px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
section#Contact #contact_container div#Formulaire #contactForm label {
  margin: 8px 0 8px 2%;
}
section#Contact #contact_container div#Formulaire #contactForm textarea {
  resize: none;
}
section#Contact #contact_container div#Formulaire #contactForm button {
  background-color: rgba(var(--color4), 1);
  color: rgba(var(--color1), 1);
  padding: 1rem 1rem;
  border-radius: 8px;
  font-family: var(--button);
  transition: all 0.3s ease-in-out;
  width: 50%;
  margin: 8px auto;
}
section#Contact #contact_container div#Formulaire #contactForm button:hover {
  background-color: rgba(var(--color3), 1);
  color: rgba(var(--color5), 1);
}
section#Contact #contact_container div#Formulaire div#Response_Message {
  display: none;
  background-color: rgba(var(--color2), 1);
  padding: 10px;
  width: 50%;
  margin: 0 auto;
  border: 1px solid rgba(var(--color3), 1);
  border-radius: 15px;
  font-family: var(--texte);
  font-weight: 900;
  font-size: 1.2rem;
  text-align: center;
}
section#Contact #contact_container div#Informations {
  display: flex;
  gap: 2rem;
}
section#Contact #contact_container div#Informations iframe {
  width: 100%;
  max-width: 600px;
}
section#Contact #contact_container div#Informations ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
section#Contact #contact_container div#Informations ul li {
  display: flex;
  align-items: center;
  margin-left: 2%;
  gap: 1rem;
}
section#Contact #contact_container div#Informations ul li i {
  font-size: 2rem;
}
section#Contact #contact_container div#Informations ul li span {
  font-size: 1.5rem;
  font-family: var(--texte);
}

@media screen and (max-width: 1400px) {
  section#Contact #contact_container div#Formulaire,
  section#Contact #contact_container div#Informations {
    width: 50%;
    max-width: 550px;
  }
  section#Contact #contact_container div#Formulaire iframe,
  section#Contact #contact_container div#Informations iframe {
    max-width: 550px;
  }
}
@media screen and (max-width: 1200px) {
  section#Contact h2 {
    font-size: 2.7rem;
  }
  section#Contact #contact_container div#Formulaire,
  section#Contact #contact_container div#Informations {
    width: 40%;
    max-width: 500px;
  }
  section#Contact #contact_container div#Formulaire iframe,
  section#Contact #contact_container div#Informations iframe {
    max-width: 500px;
  }
  section#Contact #contact_container div#Formulaire h3 {
    font-size: 1.8rem;
    margin-top: 1rem;
  }
  section#Contact #contact_container div#Formulaire #contactForm {
    width: 95%;
    margin: 0 auto;
    padding: 10px 5px;
  }
  section#Contact #contact_container div#Formulaire #contactForm label {
    margin: 6px 0 6px 2%;
  }
  section#Contact #contact_container div#Formulaire #contactForm button {
    padding: 1rem 1rem;
    width: 50%;
    margin: 8px auto;
  }
  section#Contact #contact_container div#Informations {
    gap: 1.8rem;
  }
  section#Contact #contact_container div#Informations ul {
    gap: 0.9rem;
  }
  section#Contact #contact_container div#Informations ul li {
    gap: 0.9rem;
  }
  section#Contact #contact_container div#Informations ul li i {
    font-size: 1.8rem;
  }
  section#Contact #contact_container div#Informations ul li span {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 992px) {
  section#Contact h2 {
    font-size: 2.5rem;
  }
  section#Contact #contact_container div#Formulaire,
  section#Contact #contact_container div#Informations {
    width: 40%;
    max-width: 450px;
  }
  section#Contact #contact_container div#Formulaire iframe,
  section#Contact #contact_container div#Informations iframe {
    max-width: 450px;
  }
  section#Contact #contact_container div#Formulaire h3 {
    font-size: 1.6rem;
    margin-top: 0.8rem;
  }
  section#Contact #contact_container div#Informations {
    gap: 1.6rem;
  }
  section#Contact #contact_container div#Informations ul {
    gap: 0.8rem;
  }
  section#Contact #contact_container div#Informations ul li {
    gap: 0.8rem;
  }
  section#Contact #contact_container div#Informations ul li i {
    font-size: 1.6rem;
  }
  section#Contact #contact_container div#Informations ul li span {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 768px) {
  section#Contact h2 {
    font-size: 2.3rem;
  }
  section#Contact #contact_container {
    flex-direction: column;
    align-items: center;
  }
  section#Contact #contact_container div#Formulaire,
  section#Contact #contact_container div#Informations {
    width: 80%;
    max-width: 450px;
  }
  section#Contact #contact_container div#Formulaire iframe,
  section#Contact #contact_container div#Informations iframe {
    max-width: 450px;
  }
  section#Contact #contact_container div#Formulaire {
    margin-bottom: 1rem;
  }
  section#Contact #contact_container div#Formulaire h3 {
    font-size: 1.6rem;
    margin-top: 0.8rem;
  }
  section#Contact #contact_container div#Formulaire #contactForm label {
    margin: 4px 0 4px 2%;
  }
  section#Contact #contact_container div#Formulaire div#Response_Message {
    margin: 8px auto;
    font-size: 1.1rem;
  }
  section#Contact #contact_container div#Informations {
    gap: 1.4rem;
    margin-bottom: 1rem;
  }
  section#Contact #contact_container div#Informations ul {
    gap: 0.7rem;
  }
  section#Contact #contact_container div#Informations ul li {
    gap: 0.7rem;
  }
  section#Contact #contact_container div#Informations ul li i {
    font-size: 1.4rem;
  }
  section#Contact #contact_container div#Informations ul li span {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 544px) {
  section#Contact h2 {
    font-size: 2rem;
  }
  section#Contact #contact_container div#Formulaire,
  section#Contact #contact_container div#Informations {
    max-width: 400px;
  }
  section#Contact #contact_container div#Formulaire iframe,
  section#Contact #contact_container div#Informations iframe {
    max-width: 400px;
  }
  section#Contact #contact_container div#Formulaire {
    margin-bottom: 0.8rem;
  }
  section#Contact #contact_container div#Formulaire h3 {
    font-size: 1.3rem;
  }
  section#Contact #contact_container div#Formulaire div#Response_Message {
    font-size: 1rem;
  }
  section#Contact #contact_container div#Informations {
    gap: 1.2rem;
    margin-bottom: 0.8rem;
  }
  section#Contact #contact_container div#Informations ul {
    gap: 0.5rem;
  }
  section#Contact #contact_container div#Informations ul li {
    gap: 0.5rem;
  }
  section#Contact #contact_container div#Informations ul li i {
    font-size: 1.2rem;
  }
  section#Contact #contact_container div#Informations ul li span {
    font-size: 1rem;
  }
}
footer#footer {
  min-height: 10vh;
  background-color: rgba(var(--color1), 0.7);
  color: rgba(var(--color5), 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  max-width: 1920px;
  margin: auto;
}
footer#footer div#copyright {
  font-size: 1.5rem;
  display: flex;
  gap: 8px;
}
footer#footer div#copyright span {
  font-family: var(--texte);
}
footer#footer #reseaux {
  font-size: 2rem;
  display: flex;
  gap: 1rem;
}
footer#footer #reseaux a {
  color: rgba(var(--color4), 0.7);
}
footer#footer #reseaux a:hover {
  color: rgba(var(--color3), 1);
}

@media screen and (max-width: 1400px) {
  footer#footer {
    min-height: 10vh;
    min-width: 100%;
    gap: 8px;
  }
  footer#footer div#copyright {
    font-size: 1.5rem;
    gap: 8px;
  }
  footer#footer #reseaux {
    font-size: 2rem;
    gap: 1rem;
  }
}/*# sourceMappingURL=style.css.map */