section#Competences {
  min-height: 100vh;
  & h2 {
    font-size: 3rem;
    text-align: center;
    font-family: var(--titre);
    padding-bottom: 1rem;
  }

  & #competences_container {
    display: flex;
    justify-content: space-between;

    & #competences_langages,
    #competences_logiciels {
      width: 500px;
      margin: 60px auto;
      color: rgba(var(--color5), 1);
      background-color: rgba(var(--color4), 0.6);
      padding: 10px;
      border-radius: 15px;

      & h3.titre_section {
        text-align: center;
        font-size: 2rem;
        font-family: var(--sous-titre);
      }

      & li {
        margin: 20px 0;
        list-style-type: none;
        & h3 {
          font-size: 1.5rem;
          font-family: var(--sous-titre);
        }
        & .bar {
          background-color: rgba(var(--color4), 0.3);
          display: block;
          height: 5px;
          border: 1px solid rgba(0, 0, 0, 0.3);
          border-radius: 3px;
          overflow: hidden;
          box-shadow: 0 0 10px #2187e7b3;
        }
        & .bar span {
          height: 5px;
          float: left;
          background-color: rgba(var(--color2), 1);
        }
      }
    }

    & div#competences_langages {
      .skill_html {
        width: 75%;
        animation: skill_html 2s;
      }

      .skill_css {
        width: 70%;
        animation: skill_css 2s;
      }

      .skill_js {
        width: 40%;
        animation: skill_js 2s;
      }

      .skill_php {
        width: 30%;
        animation: skill_php 2s;
      }

      @keyframes skill_html {
        0% {
          width: 0%;
        }
        100% {
          width: 75%;
        }
      }
      @keyframes skill_css {
        0% {
          width: 0%;
        }
        100% {
          width: 70%;
        }
      }
      @keyframes skill_js {
        0% {
          width: 0%;
        }
        100% {
          width: 40%;
        }
      }
      @keyframes skill_php {
        0% {
          width: 0%;
        }
        100% {
          width: 30%;
        }
      }
    }
    #competences_logiciels {
      .logiciel_figma {
        width: 75%;
        animation: skill_html 2s;
      }

      .logiciel_photoshop {
        width: 70%;
        animation: skill_css 2s;
      }

      .logiciel_illustrator {
        width: 40%;
        animation: skill_js 2s;
      }

      .logiciel_docker {
        width: 30%;
        animation: skill_php 2s;
      }

      @keyframes logiciel_figma {
        0% {
          width: 0%;
        }
        100% {
          width: 75%;
        }
      }
      @keyframes logiciel_photoshop {
        0% {
          width: 0%;
        }
        100% {
          width: 70%;
        }
      }
      @keyframes logiciel_illustrator {
        0% {
          width: 0%;
        }
        100% {
          width: 40%;
        }
      }
      @keyframes logiciel_docker {
        0% {
          width: 0%;
        }
        100% {
          width: 30%;
        }
      }
    }
  }
}
